.OptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 10px;

}

.OptionButton {
    padding: 30px 0 40px 0px;
    font-family: 'Old London';
    font-size: xx-large;
    width: 200px;
}

.OptionTitle {
    margin-top: 20px;
    font-size: xx-large;
}

.GameDisplayerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

.GameDisplayerButton {
    padding: 20px;
    width: 400px;
    height: 30vh;
    font-family: 'Old London';
    font-size: 50px;
}

.WhitesContainer {
    transform: rotate(180deg);
}

.GameDisplayerButton.Filter {
   filter: blur(2px);
}

.GameDisplayerButton.Lose {
   background-color: rgb(124, 76, 76);
   filter: blur(2px);
}

.InfosContainer {
    transform: rotate(-90deg);
    position: absolute;
    left: 40%;
    max-width: 100vh;
    font-size: 50px;
}

.TeamInfosContainer {
    margin-top: 20px;
    width: 50%;
    position: relative;
    border-radius: 6px;
}

.WhitesContainer .TeamInfosContainer {
   background-color: aliceblue;
   color: black;
}

.BlacksContainer .TeamInfosContainer {
   background-color: inherit;
   color: aliceblue;
}

.Focus {
    box-shadow: 0px 10px 10px 10px rgb(25, 148, 74);
}

.SideButtonsContainer {
    transform: rotate(-90deg);
    position: absolute;
    right: 40%;
    max-width: 100vh;
    font-size: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.SideButtonsContainer button {
    font-size: 30px;
    padding: 20px;
    border: none;
}


.ReturnButton {
    background-color: rgb(170, 150, 60);
}

.ReturnButton:hover {
    background-color: rgb(126, 112, 53);
}
.PlayAgainButton {
    background-color: rgb(48, 105, 72);
}

.PlayAgainButton:hover {
    background-color: rgb(39, 82, 57);
}