
.ChoicesDisplayerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.ChoicesContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.OptionButton {
    padding: 10px 0 10px 0px;
    font-family: 'Old London';
    font-size: xx-large;
    width: 200px; 
}

@media (width < 450px) {
    .OptionButton { 
        width: 150px; 
    }
}

/* .ChoicesTitle {
    margin-top: 20px;
} */

.ChoicesTitle p {
    font-size: 45px;
}

.CustomInputContainer {
    width: 30%;
}

@media (width < 450px) {
    .CustomInputContainer {
        width: 80%;
    }
}

.CustomInputTitle, .CustomInput, .ValidateCustomeGameButton {
    font-size: 25px;
}

.CustomInput {
    background-color: rgb(131, 134, 136); 
}

.CustomInput:focus {
    background-color: rgb(131, 134, 136); 
}

.GameDisplayerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
}

.GameDisplayerContainer > div {
    width: 100%;
}

.GameDisplayerContainer .Blur {
    filter: blur(10px);
}

.GameDisplayerButton {
    padding: 20px;
    width: 40%;
    height: 30vh;
    font-family: 'Old London';
    font-size: 50px;
}

@media(max-width: 450px) {
   .GameDisplayerButton {
        width: 80%;
   }
}

.WhitesContainer {
    transform: rotate(180deg);
}

.GameDisplayerButton.Filter {
   filter: blur(2px);
}

.GameDisplayerButton.Lose {
   background-color: rgb(124, 76, 76);
   filter: blur(2px);
}

.TeamCampContainer {
    margin-top: 20px;
    width: 30%;
    position: relative;
    border-radius: 6px;
}

@media(max-width: 450px) {
   .TeamCampContainer {
        width: 70%;
   }
}

.WhitesContainer .TeamCampContainer {
   background-color: aliceblue;
   color: black;
}

.BlacksContainer .TeamCampContainer {
   background-color: inherit;
   color: aliceblue;
}

.Focus {
    box-shadow: 0px 10px 10px 10px rgb(25, 148, 74);
}

svg {
    vertical-align: unset;
}

.InfosContainer {
    transform: none;
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;    
}

.LeftButtonsContainer, .RightButtonsContainer {
    position: absolute;
    
    bottom: 50%;
}

.LeftButtonsContainer button, .RightButtonsContainer button {
    width: 80px;
    height: 80px;
}

.LeftButtonsContainer svg, .RightButtonsContainer svg {
    width: 20px;
    height: 20px;
}

.LeftButtonsContainer { 
    left: 10px;
}

.RightButtonsContainer { 
    right: 10px;
}

@media (width < 450px) {
    .LeftButtonsContainer {
        bottom: 10px;
    }
    .RightButtonsContainer { 
        bottom: 10px;
    }
    .LeftButtonsContainer button, .RightButtonsContainer button {
        width: fit-content;
        height: fit-content;
    }
    .LeftButtonsContainer svg, .RightButtonsContainer svg {
        width: 10px;
        height: 10px;
    }
}

.InfosContainer {
    top: 25%;
    font-size: 50px;
} 

@media(max-width: 450px) {
   .InfosContainer {
        transform: rotate(-90deg);
   }
}

.ReturnButton {
    background-color: rgb(170, 150, 60);
}

.ReturnButton:hover {
    background-color: rgb(126, 112, 53);
}

.PlayAgainButton, .PlayAgainEndGameButton  {
    background-color: rgb(48, 105, 72);
}

.PlayAgainButton:hover, .PlayAgainEndGameButton:hover {
    background-color: rgb(39, 82, 57);
}

.PlayAgainEndGameButton {
    font-size: 30px;
}

.StayEndGameButton {
    background-color: rgb(170, 150, 60);
    font-size: 30px;
    color: rgb(56, 59, 61);
}

.StayEndGameButton:hover {
    background-color: rgb(126, 112, 53);
}

.PlayAgainEndGameButton, .StayEndGameButton {
    font-family: 'Times New Roman', Times, serif;
}

.WinningBox {
    border-radius: 5px;
    padding: 20px;
}

.WinningBox.Whites {
    background-color: aliceblue;
    color: rgb(22, 22, 2);
}

.WinningBox.Blacks {
    background-color: rgb(22, 22, 22);
    color: aliceblue;
}